.dashBord{
    display: flex;
    background-color:rgb(249, 250, 251) ;
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.sideBarAdmin{
    margin-bottom: 70px;
}
.dashBord{
    display: flex;
    background-color:rgb(249, 250, 251) ;
    width: 250px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.dashBord.clicked {
    background-color: rgb(138, 150, 161);
    color: rgb(249, 250, 251);
    display: flex;
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
  }
.sideBar{
    margin-top: 100px;
}

.logo{
    margin-top:6px;
    margin-right: 10px;
    
}


