.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  

  .modal-content{
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    text-align: center;
   
  }
  


  
  .login-page h1 {
    margin-bottom: 20px;
  }
  
  .form-group-login {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input-login {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-login {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0000ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-login:hover {
    background-color: #012169;
  }
  

  .password-input-container {
    position: relative;
  }
  
  .password-input {
    padding-right: 40px; 
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 5px; 
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }
  .nav-auth {
    background-color:  #317873;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #F3F3F3;
  }
  .items-login {
    padding: 5px;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    font-size: 23px;
    padding: 6px;
  }
  .items-login:hover {
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 50px;
    font-size: 23px;
    background-color: #66CDAA;
    cursor: pointer;
    border-radius: 14px;
    padding: 6px;
   
  }
  .menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 6px;
    width: 130px;
    height: 130px;
    margin-left: 80%;
    justify-content: space-evenly;
    z-index: 1;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    align-items: center;
    background-color: #317873;
  }
  .menu-item{
    font-size: 22px;
    border-bottom: 1px solid black;
    font-size: bolder;
    width:100%;
    padding: 4px;
    margin-left: 6px;
  }
  .menu-item:hover{
    font-size: 25px;
  
    font-size: bolder;
    color:white;
    background-color:#66CDAA;
    padding:5px;
    cursor: pointer;
  
  }
  .wrong{
    color:red;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
  }
  .befre{
    cursor: pointer;
  }